/* ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* OPEN SANS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* Colors: */
    --unnamed-color-ffffff: #ffffff;
    --unnamed-color-176bfc: #176bfc;
    --unnamed-color-176bfc-with-opacity: rgba(24, 107, 251, 0.059);
    --lineas: #9c9e9f;
    --tipografia: #4b4b4d;
    --negro-artug: #1a171b;

    /* Font/text values */
    --unnamed-font-family-open-sans: 'Open sans', sans-serif;
    --unnamed-font-family-roboto: 'Roboto', sans-serif;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-22: 22px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-26: 26px;
    --unnamed-font-size-28: 28px;
    --unnamed-font-size-32: 32px;
    --unnamed-font-size-42: 42px;
    --unnamed-font-size-52: 52px;
    --unnamed-font-size-60: 60px;
    --unnamed-font-size-62: 62px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-0-12: 0.12px;
    --unnamed-character-spacing-0-14: 0.14px;
    --unnamed-character-spacing-0-16: 0.16px;
    --unnamed-character-spacing-0-31: 0.31px;
    --unnamed-line-spacing-32: 32px;
    --unnamed-line-spacing-36: 36px;
    --unnamed-line-spacing-38: 38px;
    --unnamed-line-spacing-52: 52px;
    --unnamed-line-spacing-58: 58px;
    --unnamed-line-spacing-72: 72px;
    --unnamed-text-transform-titlecase: titlecase;
}

/* Character Styles */
.unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-32);
    line-height: var(--unnamed-line-spacing-38);
    letter-spacing: var(--unnamed-character-spacing-0-16);
    color: var(--unnamed-color-176bfc);
}
.unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-32);
    line-height: var(--unnamed-line-spacing-38);
    letter-spacing: var(--unnamed-character-spacing-0-16);
    color: var(--unnamed-color-176bfc);
}
.unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-38);
    letter-spacing: var(--unnamed-character-spacing-0-12);
    color: var(--tipografia);
}
.unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-32);
    line-height: var(--unnamed-line-spacing-52);
    letter-spacing: var(--unnamed-character-spacing-0-16);
    color: var(--unnamed-color-ffffff);
    text-transform: var(--unnamed-text-transform-titlecase);
}

.titulo-seccion-mobile {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-32) /
        var(--unnamed-line-spacing-38) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0-16);
    color: var(--unnamed-color-ffffff);
    font-weight: 400;
}

.text-mobile {
    font-family: 'Helvetica neue';
    color: var(--tipografia);
    letter-spacing: var(--unnamed-character-spacing-0-08);
}

.seccion-regular-mobile {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-26) /
        var(--unnamed-line-spacing-38) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0-31);
    color: var(--unnamed-color-ffffff);
    margin-bottom: 0px;
}

.seccion-bold-mobile {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-26) /
        var(--unnamed-line-spacing-38) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0-31);
    color: var(--unnamed-color-ffffff);
}

.seccion-regular {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-52) /
        var(--unnamed-line-spacing-58) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0-31);
    color: var(--unnamed-color-ffffff);
    margin-bottom: 0px;
    font-size: 52px;
}

.seccion-regular-contacto {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-42) /
        var(--unnamed-line-spacing-58) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0-31);
    color: var(--unnamed-color-ffffff);
    margin-bottom: 0px;
}

.seccion-bold {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-52) /
        var(--unnamed-line-spacing-58) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0-31);
    color: var(--unnamed-color-ffffff);
    font-size: 52px;
}

.texto-chico {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-22);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
    margin-bottom: 0px;
}

.texto {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-weight: 400;
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
    margin-bottom: 0px;
}
.subtitulo {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-26);
    line-height: var(--unnamed-line-spacing-36);
    letter-spacing: var(--unnamed-character-spacing-0-14);
    color: var(--negro-artug);
    margin-bottom: 0px;
}

.titular {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-42);
    line-height: var(--unnamed-line-spacing-58);
    letter-spacing: var(--unnamed-character-spacing-0-31);
    color: var(--unnamed-color-176bfc);
    margin-bottom: 0px;
}

.titular-bold {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-52);
    line-height: var(--unnamed-line-spacing-58);
    letter-spacing: var(--unnamed-character-spacing-0-31);
    color: var(--unnamed-color-176bfc);
    margin-bottom: 0px;
    font-size: 52px;
}

.titular-regular {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-52);
    line-height: var(--unnamed-line-spacing-58);
    letter-spacing: var(--unnamed-character-spacing-0-31);
    color: var(--unnamed-color-176bfc);
    margin-bottom: 0px;
    font-size: 52px;
}

/* ---------- ESTILOS COMUNES A TODAS LAS PAGINAS ---------- */

/* ---- NAVBAR ----- */

.listado-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar {
    padding: 15px 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9000;
    /* background-color: #176bfc; */
}

.nav-link {
    font: var(--unnamed-font-style-normal) 400 var(--unnamed-font-weight-normal)
        24px / var(--unnamed-line-spacing-52)
        var(--unnamed-font-family-open-sans);
    color: var(--unnamed-color-ffffff);
    margin: 0px 16px;
    padding: 0px !important;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 24px / var(--unnamed-line-spacing-52)
        var(--unnamed-font-family-open-sans);
    color: var(--unnamed-color-ffffff);
}

.navbar-nav .nav-link.active {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 24px / var(--unnamed-line-spacing-52)
        var(--unnamed-font-family-open-sans);
    color: white;
}

.navbar .linkedin {
    color: white;
    font-size: 24px;
    margin: 0px 10px;
}

.link-arrow {
    text-decoration: none;
}

/* ---- FORMULARIO ----- */

form {
    margin: 0% 10%;
}

form .form-control {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) /
        var(--unnamed-line-spacing-32) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: #176bfc;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    padding: 0px 0px 3px 2px;
    transition: all 0.3s ease-in-out;
    font-weight: 300;
}
form .form-control::placeholder {
    color: #176bfc;
}

form .form-control:focus {
    color: #176bfc;
    border-bottom: 1px solid #176bfc;
    box-shadow: none;
}

form .form-mensaje {
    border: 1px solid rgba(0, 0, 0, 0.5);
    resize: none;
    padding: 4px 0px 4px 8px;
}

form button {
    width: 150px;
}

/* ----- FOOTER ----- */

footer {
    background-color: var(--unnamed-color-176bfc);
    min-height: 381px;
    padding: 64px 0px 19px 0px;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e4e8ec;
    padding: 18px 0px 0px 0px;
}

.copy h5 {
    color: white;
    font-size: 16px;
}

footer h3 {
    color: var(--unnamed-color-ffffff);
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 20px / var(--unnamed-line-spacing-36)
        var(--unnamed-font-family-open-sans);
    /* font-size: 20px; */
    margin-bottom: 10px;
}

footer p {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 18px/28px
        var(--unnamed-font-family-open-sans);
    color: var(--unnamed-color-ffffff);
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 400;
}

footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

footer a {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 18px / var(--unnamed-line-spacing-32)
        var(--unnamed-font-family-open-sans);
    color: var(--unnamed-color-ffffff);
    color: white;
    text-decoration: none;
    margin: 4px 0px;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
}

footer a:hover {
    color: white;
}

footer i {
    font-size: 18px;
    color: white;
    margin-right: 10px;
}

footer img {
    width: 200px;
}

.boton-primario {
    border-radius: 0px;
    width: 150px;
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-24) /
        var(--unnamed-line-spacing-36) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0-14);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font-weight: 400;
    opacity: 1;
}
.boton-primario a {
    color: white;
    text-decoration: none;
}

/* --------------------------- INDEX.HTML -----------------------------------*/
#home {
    background-image: url('../media/home/fondo-home-querandi.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 8000;
}

#home .scroll {
    position: relative;
    top: 0px;
    color: white;
    margin: 0px 0px 30px 0px;
    font-size: 35px;
    animation: move infinite alternate linear 0.6s;
    z-index: -100;
    /* animation-direction: alternate; */
}

#home-servicios {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #home-servicios h2 {
    margin-bottom: 0px;
    font-family: 'Helvetica neue';
} */

#home-servicios .accordion-body {
    border: none;
    outline: none;
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) /
        var(--unnamed-line-spacing-32) 'Open Sans';
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
}

.accordion {
    z-index: -1;
}

.accordion-header {
    border: none;
    outline: none;
    z-index: -1;
}

.accordion-button:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: white;
}

.accordion-item {
    margin: 0px 0px 35px 0px;
    border: none;
    box-shadow: 0px 2px 3px 1px rgba(127, 127, 127, 0.478);
    z-index: -1;
}

.accordion-button:not(.collapsed) {
    color: black;
}

@keyframes move {
    0% {
        top: 0px;
    }
    100% {
        top: 20px;
    }
}

#home-flota {
    background-color: var(--unnamed-color-176bfc-with-opacity);
}

/* -------- SLIDE --------- */

#contenedor-slides {
    height: 420px;
    width: 100%;
    /* width: 100px; */
    margin: 0 15px;
    overflow: hidden;
    position: relative;
}
#contenedor-slides img {
    height: 420px;
    width: 100%;
    object-fit: cover;
}
#contenedor-slides .box-datos {
    position: absolute;
    top: 343px;
    height: 450px;
    width: 80%;
    background-color: #176bfc;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    transition: 0.4s;
    padding: 10px;
}
#contenedor-slides .box-datos h2 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-32) /
        var(--unnamed-line-spacing-52) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0-16);
    color: var(--unnamed-color-ffffff);
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 0px;
}

#contenedor-slides .box-datos .divider {
    margin-right: 10px;
    width: 100%;
    height: 2px;
    border: none;
    background-color: rgb(255, 255, 255);
}

#contenedor-slides .box-datos .info {
    display: flex;
    align-items: center;
    width: 85%;
    z-index: 200;
    margin: 0px 0px 15px 0px;
}

#contenedor-slides .box-datos h3 {
    color: var(--unnamed-color-ffffff);
    font-weight: 400;
    font-size: 18px;
    color: white;
    border-right: 2px solid white;
    margin: 0px;
    padding-right: 10px;
}

#contenedor-slides .box-datos p {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-32) /
        var(--unnamed-line-spacing-36) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin: 0px;
    margin-left: 10px;
}

#contenedor-slides:hover .box-datos {
    transform: translateY(-343px);
    width: 100%;
    background-color: hsla(218, 97%, 54%, 0.8);
}

/* -------- FIN SLIDE --------- */
#home-clientes {
    background-image: url('../media/fondo_clientes_home.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    display: flex;

    align-items: center;
}

#home-clientes p {
    color: white;
    font-family: var(--unnamed-font-family-open-sans);
    font-size: 26px;
    font-weight: 200;
    margin: 10px 0px;
}

#home-contacto p {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) /
        var(--unnamed-line-spacing-38) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0-12);
    color: var(--tipografia);
}

/* --------------------------- EMPRESA.HTML -----------------------------------*/

#empresa {
    background-image: url('../media/nosotros/cabecera_nosotros.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 8000;
}

#empresa-historia {
    padding: 30px 0px;
}

#empresa-historia .texto-logos {
    padding: 0% 4.5% !important;
}

#empresa-historia .texto-logos p {
    /* width: 80%; */
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) / 34px
        Open Sans;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
    font-weight: 300;
    margin-bottom: 30px;
}

#empresa-historia .texto-logos span {
    font-weight: bold;
}

#empresa-historia .texto-logos img {
    width: 150px;
    margin: 10px 10px;
}

#empresa-politica {
    padding: 50px 0px;
}

#empresa-politica h2 {
    color: #176bfc;
    font-size: 40px;
    margin-bottom: 10px;
    letter-spacing: var(--unnamed-character-spacing-0-31);
}

#empresa-politica h4 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-20) /
        var(--unnamed-line-spacing-32) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
    margin-bottom: 10px;
}

#empresa-politica p {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) /
        var(--unnamed-line-spacing-32) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
}

#empresa-politica .texto-logos {
    padding: 0% 4.5% !important;
}

#empresa-cards {
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#empresa-cards .container-box {
    box-shadow: 0px 2px 3px 1px rgba(127, 127, 127, 0.478);
    padding: 10px 15px;
    width: 24%;
    margin: 0px 4px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.679);
}

#empresa-cards .container-box p {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 20px / var(--unnamed-line-spacing-32)
        var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-176bfc);
}

/* --------------------------- SERVICIOS.HTML -----------------------------------*/

#servicios-header {
    background-image: url('../media/servicios/Cabecera_servicios.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 8000;
}

#servicios {
    padding: 30px 0px;
    position: relative;
    /* top: -91px; */
    z-index: 800;
}

#servicios h2 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 32px / var(--unnamed-line-spacing-52)
        var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-176bfc);
}

#servicios .description {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-26) /
        var(--unnamed-line-spacing-36) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0-14);
}

#servicios .container-box {
    /* border: 1px solid black; */
    box-shadow: 0px 2px 3px 1px rgba(127, 127, 127, 0.478);
    padding: 10px 15px;
    max-width: 32.5%;
    background-color: rgba(255, 255, 255, 0.679);
    position: relative;
    z-index: 8100;
}

#servicios .arrow {
    border: 2px solid var(--unnamed-color-176bfc);
    padding: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#servicios .arrow i:hover {
    transform: rotate(90deg);
}

#servicios i {
    color: var(--unnamed-color-176bfc);
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

.article-servicios h3 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 22px/29px
        var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--negro-artug);
}

.article-servicios {
    /* min-height: 800px; */

    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-servicios.medio {
    /* min-height: 800px; */
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--unnamed-color-176bfc-with-opacity);
}
/* --------------------------- FLOTA.HTML -----------------------------------*/
#flota-header {
    background-image: url('../media/flota/cabecera_Flota.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 8000;
}

.descarga {
    background-color: white;
    max-width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    font-size: 26px;
}

.descarga:focus {
    border: none;
    box-shadow: none;
    background-color: rgb(228, 228, 228);
}

.descarga:hover {
    border: none;
    box-shadow: none;
    background-color: rgb(228, 228, 228);
}

.descarga img {
    width: 40px;
    margin-right: 8px;
}

.descarga p {
    color: #176bfc;
    margin: 0px;
    text-align: left;
    line-height: 20px;
}

.descarga-secondary {
    background-color: #176bfc;
    max-width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    font-size: 26px;
    margin-top: 20px;
}

.descarga-secondary:focus {
    border: none;
    box-shadow: none;
    background-color: #0c5ce8;
}

.descarga-secondary:hover {
    border: none;
    box-shadow: none;
    background-color: #0c5ce8;
}

.descarga-secondary img {
    width: 40px;
    margin-right: 8px;
}

.descarga-secondary p {
    color: #ffffff;
    margin: 0px;
    text-align: left;
    line-height: 20px;
}

#flota-cards {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .flota-description h3 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-26) /
        var(--unnamed-line-spacing-36) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0-14);
    color: var(--negro-artug);
}

/* --------------------------- CONTACTO.HTML -----------------------------------*/

#contacto {
    background-image: url('../media/fondo_contacto.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 8000;
}

#contacto .hero-contacto {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) /
        var(--unnamed-line-spacing-38) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0-12);
    color: var(--unnamed-color-ffffff);
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 200;
}

/* ---------- MEDIA QUERIES --------- */

@media only screen and (max-width: 768px) {
    /* ---------- COMUNES A TODO EL SITIO ----------*/
    .w-75 {
        width: 76% !important;
    }

    .seccion-regular-mobile {
        line-height: var(--unnamed-line-spacing-22);
    }

    .seccion-bold-mobile {
        line-height: var(--unnamed-line-spacing-22);
        font-weight: 700;
    }

    .titular-regular {
        font-size: 32px;
        line-height: var(--unnamed-line-spacing-22);
    }
    .titular-bold {
        font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) var(--unnamed-font-size-32) /
            var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0-16);
        color: var(--unnamed-color-176bfc);
        font-size: 32px;
    }

    .titular {
        font-size: 26px;
        line-height: var(--unnamed-line-spacing-22);
        letter-spacing: var(--unnamed-character-spacing-0-31);
        /* padding-top: 50px; */
        /* padding-bottom: 15px; */
    }

    .subtitulo {
        font-size: 18px;
    }

    .texto {
        font-size: 16px;
        margin-top: 5px;
        line-height: var(--unnamed-line-spacing-22);
    }

    .texto-chico {
        margin-top: 8px;
        font-size: 16px;
        font-family: 'Helvetica neue';
        color: var(--tipografia);
        letter-spacing: var(--unnamed-character-spacing-0-08);
        line-height: var(--unnamed-line-spacing-22);
        text-align: left;
    }

    .seccion-regular {
        font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) var(--unnamed-font-size-52) /
            var(--unnamed-line-spacing-38) var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0-31);
        font-size: 26px;
        text-align: center;
    }

    .seccion-bold {
        font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) var(--unnamed-font-size-52) /
            var(--unnamed-line-spacing-38) var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0-31);
        font-size: 26px;
    }
    /* ---NAVBAR -----*/
    #barraUno {
        width: 25px;
        height: 2px;
        background-color: #176bfc;
        margin: 6px 0px 4px 0px;
        border: none;
        opacity: 1;
    }

    #barraDos {
        width: 25px;
        height: 2px;
        background-color: #176bfc;
        margin: 6px 0px 4px 0px;
        border: none;
        opacity: 1;
    }

    #barraTres {
        width: 25px;
        height: 2px;
        background-color: #176bfc;
        margin: 6px 0px 6px 0px;
        border: none;
        opacity: 1;
    }

    .navbar {
        background-color: white;
    }

    .nav-link {
        color: var(--unnamed-color-176bfc);
    }

    .nav-link:hover {
        color: var(--unnamed-color-176bfc);
    }
    .nav-link:focus {
        color: var(--unnamed-color-176bfc);
    }

    .navbar-nav .nav-link.active {
        color: #176bfc;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
        border: none;
        outline: none;
    }

    .navbar-toggler i {
        font-size: 30px;
        color: #176bfc;
    }

    .listado-links {
        height: 60.5vh;
        justify-content: space-evenly;
        margin-top: 1px;
    }

    .extendido {
        padding-bottom: 11.8rem;
        /* min-height: 95vh; */
        transition: all 0.3s ease-in-out;
    }

    /* ----- FORM ----- */
    form {
        margin: 0% 0%;
    }

    form .form-control {
        font-size: 14px !important;
    }

    .boton-primario {
        font-size: 17px;
        width: 100px;
        padding: 0px;
    }

    /* ----- FOOTER ----- */

    footer h3 {
        font-size: 16px;
    }

    footer a {
        font-size: 14px;
    }

    footer p {
        font-size: 14px;
    }

    footer img {
        width: 140px;
        margin-bottom: 20px;
    }

    footer .copy {
        display: flex;
        flex-direction: column;

        align-items: flex-start;
    }

    footer .copy h5 {
        font-size: 14px;
    }

    footer .mapa-ubicacion {
        width: 50%;
        margin-bottom: 20px;
    }

    /* ------------------- INDEX.HTML ---------------------*/
    #home {
        background-image: url('../media/home/fondo-home.png');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 60vh;
        background-position: 40% 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 8000;
    }

    .accordion {
        margin-top: 20px;
    }

    #contenedor-slides {
        margin: 0px;
    }

    #home-servicios .accordion-body {
        font-size: 16px;
        line-height: var(--unnamed-line-spacing-22);
    }

    #home-clientes {
        padding: 15px 0px;
    }

    #home-clientes p {
        font-size: 18px;
    }

    #home-contacto p {
        font-size: 16px;
        margin-top: 20px;
        font-weight: 300;
    }

    /* ------------------ EMPRESA.HTML ---------------*/
    #empresa {
        background-image: none;
        min-height: 6vh;
        background-size: contain;
    }

    #empresa-mobile {
        background-image: url('../media/nosotros/cabecera_nosotros.jpg');
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        background-position: 30% 100%;
        min-height: 30vh;
        display: flex;
        align-items: center;
    }

    #empresa-historia .texto-logos p {
        font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
            var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0-08);
        color: var(--tipografia);
        font-weight: 300;
        margin-bottom: 30px;
    }

    #empresa-historia .texto-logos img {
        width: 120px;
    }

    #empresa-historia .container-img-empresa {
        display: flex;
        justify-content: center;
    }

    #empresa-historia .container-img-empresa .img-fluid {
        width: 92%;
        margin: 10px 0px 20px 0px;
    }

    #empresa-historia .container-reverse {
        flex-direction: column-reverse;
    }

    #empresa-politica h4 {
        font-size: 14px;
        line-height: var(--unnamed-line-spacing-22);
    }

    #empresa-politica p {
        font-size: 14px;
        line-height: var(--unnamed-line-spacing-22);
    }

    #empresa-cards {
        min-height: 45vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #empresa-cards .container-box {
        width: 100%;
        margin: 12px 0px;
    }

    #empresa-cards .container-box p {
        font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) 16px /
            var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-176bfc);
    }

    /* --------------- SERVICIOS.HTML ---------------*/

    #servicios-header {
        min-height: 6vh;
        background-size: contain;
        background-image: none;
    }

    #servicios-mobile {
        background-image: url('../media/servicios/Cabecera_servicios.jpg');
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        min-height: 30vh;
        display: flex;
        align-items: center;
    }

    #servicios {
        z-index: 900;
        position: relative;
        /* top: -170px; */
    }

    #servicios .container-box {
        margin: 6px 0px;
        max-width: 100%;
        padding: 15px 10px;
    }

    #servicios h2 {
        font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
            var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-176bfc);
        margin-bottom: 0px;
    }

    #servicios .description {
        font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
            var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0-08);
        color: var(--tipografia);
    }

    #servicios .arrow {
        width: 30px;
        height: 30px;
    }

    #servicios i {
        font-size: 14px;
        margin-bottom: 2px;
    }

    .article-servicios {
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 0px;
        padding: 25px 0px;
    }

    .article-servicios.medio {
        min-height: 500px;
        padding: 25px 0px;
    }

    /* ---------------- FLOTA ---------------- */
    #flota-header {
        min-height: 6vh;
        background-size: contain;
        background-image: none;
    }

    #flota-mobile {
        background-image: url('../media/flota/cabecera_Flota.jpg');
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        min-height: 30vh;
        display: flex;
        align-items: center;
    }

    .descarga {
        font-size: 14px;
    }

    .descarga img {
        width: 20px;
        margin-right: 8px;
    }

    .texto-flota {
        font-size: 16px;
    }

    #flota-cards {
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .flota-description h3 {
        font-size: 16px;
        line-height: var(--unnamed-line-spacing-22);
    }

    /* --------------- CONTACTO.HTML ---------------*/
    #contacto {
        min-height: 6vh;
        background-size: contain;
        background-image: none;
        background-color: white;
    }

    #contacto-mobile {
        background-image: url('../media/fondo_contacto.png');
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        min-height: 30vh;
        display: flex;
        align-items: center;
    }
}
