/* ROBOTO */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* OPEN SANS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* HELVETICA */
@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/helvetica-black.ttf);
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/helvetica-bold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/helvetica-medium.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/helvetica-light.ttf);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/helvetica-thin.ttf);
    font-style: normal;
    font-weight: 100;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    /* Colors: */
    --unnamed-color-ffffff: #ffffff;
    --unnamed-color-176bfc: #176bfc;
    --unnamed-color-176bfc-with-opacity: rgba(24, 107, 251, 0.059);
    --lineas: #9c9e9f;
    --tipografia: #4b4b4d;
    --negro-artug: #1a171b;

    /* Font/text values */
    --unnamed-font-family-helvetica-neue: 'Helvetica Neue';
    --unnamed-font-family-roboto: 'Roboto', sans-serif;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-22: 22px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-28: 28px;
    --unnamed-font-size-32: 32px;
    --unnamed-font-size-42: 42px;
    --unnamed-font-size-62: 62px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-0-14: 0.14px;
    --unnamed-character-spacing-0-16: 0.16px;
    --unnamed-character-spacing-0-31: 0.31px;
    --unnamed-character-spacing-0-12: 0.12px;
    --unnamed-line-spacing-32: 32px;
    --unnamed-line-spacing-36: 36px;
    --unnamed-line-spacing-38: 38px;
    --unnamed-line-spacing-52: 52px;
    --unnamed-line-spacing-72: 72px;
    --unnamed-text-transform-titlecase: titlecase;
}

/* Character Styles */
.unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-helvetica-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-32);
    line-height: var(--unnamed-line-spacing-38);
    letter-spacing: var(--unnamed-character-spacing-0-16);
    color: var(--unnamed-color-176bfc);
}
.unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-helvetica-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-32);
    line-height: var(--unnamed-line-spacing-38);
    letter-spacing: var(--unnamed-character-spacing-0-16);
    color: var(--unnamed-color-176bfc);
}
.unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-helvetica-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-38);
    letter-spacing: var(--unnamed-character-spacing-0-12);
    color: var(--tipografia);
}
.unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-helvetica-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-32);
    line-height: var(--unnamed-line-spacing-52);
    letter-spacing: var(--unnamed-character-spacing-0-16);
    color: var(--unnamed-color-ffffff);
    text-transform: var(--unnamed-text-transform-titlecase);
}

.seccion-regular {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-62) /
        var(--unnamed-line-spacing-72) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0-31);
    color: var(--unnamed-color-ffffff);
    margin-bottom: 0px;
}

.seccion-bold {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-62) /
        var(--unnamed-line-spacing-72) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0-31);
    color: var(--unnamed-color-ffffff);
}

.texto-chico {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-22);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
    margin-bottom: 0px;
}

.texto {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
    margin-bottom: 0px;
}
.subtitulo {
    font-family: var(--unnamed-font-family-helvetica-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-36);
    letter-spacing: var(--unnamed-character-spacing-0-14);
    color: var(--negro-artug);
    margin-bottom: 0px;
}
.titular-bold {
    font-family: var(--unnamed-font-family-helvetica-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-62);
    line-height: var(--unnamed-line-spacing-72);
    letter-spacing: var(--unnamed-character-spacing-0-31);
    color: var(--unnamed-color-176bfc);
    margin-bottom: 0px;
}
.titular-regular {
    font-family: var(--unnamed-font-family-helvetica-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-62);
    line-height: var(--unnamed-line-spacing-72);
    letter-spacing: var(--unnamed-character-spacing-0-31);
    color: var(--unnamed-color-176bfc);
    margin-bottom: 0px;
}

/* ---------- ESTILOS COMUNES A TODAS LAS PAGINAS ---------- */

/* ---- NAVBAR ----- */

.navbar {
    padding: 15px 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9000;
}

.nav-link {
    font: var(--unnamed-font-style-normal) 400 var(--unnamed-font-weight-normal)
        26px / var(--unnamed-line-spacing-52)
        var(--unnamed-font-family-helvetica-neue);
    color: var(--unnamed-color-ffffff);
    margin: 0px 16px;
    padding: 0px !important;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 26px / var(--unnamed-line-spacing-52)
        var(--unnamed-font-family-helvetica-neue);
    color: var(--unnamed-color-ffffff);
}

.navbar-nav .nav-link.active {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 26px / var(--unnamed-line-spacing-52)
        var(--unnamed-font-family-helvetica-neue);
    color: white;
}

.navbar .linkedin {
    color: white;
    font-size: 24px;
    margin: 0px 10px;
}

/* ---- FORMULARIO ----- */

form {
    margin: 0% 10%;
}

form .form-control {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) /
        var(--unnamed-line-spacing-32) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    padding: 0px 0px 3px 2px;
}

form .form-mensaje {
    border: 1px solid rgba(0, 0, 0, 0.5);
    resize: none;
    padding: 4px 0px 4px 8px;
}

form button {
    width: 150px;
}

/* ----- FOOTER ----- */

footer {
    background-color: var(--unnamed-color-176bfc);
    min-height: 381px;
    padding: 64px 0px 19px 0px;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e4e8ec;
    padding: 18px 0px 0px 0px;
}

.copy h5 {
    color: white;
    font-size: 16px;
}

footer h3 {
    color: var(--unnamed-color-ffffff);
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 20px / var(--unnamed-line-spacing-36)
        var(--unnamed-font-family-helvetica-neue);
    /* font-size: 20px; */
    margin-bottom: 10px;
}

footer p {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 18px/28px
        var(--unnamed-font-family-helvetica-neue);
    color: var(--unnamed-color-ffffff);
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 400;
}

footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

footer a {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 18px / var(--unnamed-line-spacing-32)
        var(--unnamed-font-family-helvetica-neue);
    color: var(--unnamed-color-ffffff);
    color: white;
    text-decoration: none;
    margin: 4px 0px;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
}

footer a:hover {
    color: white;
}

footer i {
    font-size: 18px;
    color: white;
    margin-right: 10px;
}

footer img {
    width: 200px;
}

.boton-primario {
    border-radius: 0px;
    width: 150px;
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-24) /
        var(--unnamed-line-spacing-36) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0-14);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font-weight: 400;
    opacity: 1;
}
.boton-primario a {
    color: white;
    text-decoration: none;
}

/* --------------------------- INDEX.HTML -----------------------------------*/
#home {
    background-image: url('../media/fondo_home.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

#home .scroll {
    position: relative;
    top: 0px;
    color: white;
    margin: 0px 0px 30px 0px;
    font-size: 35px;
    animation: move infinite alternate linear 0.6s;
    z-index: -100;
    /* animation-direction: alternate; */
}

#home-servicios {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #home-servicios h2 {
    margin-bottom: 0px;
    font-family: 'Helvetica neue';
} */

#home-servicios .accordion-body {
    border: none;
    outline: none;
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) /
        var(--unnamed-line-spacing-32) 'Open Sans';
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
}

.accordion {
    z-index: -1;
}

.accordion-header {
    border: none;
    outline: none;
    z-index: -1;
}

.accordion-button:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: white;
}

.accordion-item {
    margin: 0px 0px 35px 0px;
    border: none;
    box-shadow: 0px 2px 3px 1px rgba(127, 127, 127, 0.478);
    z-index: -1;
}

.accordion-button:not(.collapsed) {
    color: black;
}

@keyframes move {
    0% {
        top: 0px;
    }
    100% {
        top: 20px;
    }
}

#home-flota {
    background-color: var(--unnamed-color-176bfc-with-opacity);
}

/* -------- SLIDE --------- */

#contenedor-slides {
    height: 420px;
    width: 100%;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
}
#contenedor-slides img {
    height: 420px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}
#contenedor-slides .box-datos {
    position: absolute;
    top: 343px;
    height: 450px;
    width: 80%;
    background-color: #176bfc;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    transition: 0.4s;
    padding: 10px;
}
#contenedor-slides .box-datos h2 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-32) /
        var(--unnamed-line-spacing-52) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0-16);
    color: var(--unnamed-color-ffffff);
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 0px;
}

#contenedor-slides .box-datos .divider {
    margin-right: 10px;
    width: 100%;
    height: 2px;
    border: none;
    background-color: rgb(255, 255, 255);
}

#contenedor-slides .box-datos .info {
    display: flex;
    align-items: center;
    width: 85%;
    z-index: 200;
    margin: 0px 0px 15px 0px;
}

#contenedor-slides .box-datos .divider-info {
    width: 3px;
    height: 18px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: white;
    margin: 0px 0px 0px 10px;
}

#contenedor-slides .box-datos h3 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-32) /
        var(--unnamed-line-spacing-52) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0-16);
    color: var(--unnamed-color-ffffff);
    font-weight: 400;
    font-size: 18px;
    color: white;

    margin: 0px;
}

#contenedor-slides .box-datos p {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-32) /
        var(--unnamed-line-spacing-52) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0-16);
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin: 0px;
    margin-left: 10px;
}

#contenedor-slides:hover .box-datos {
    transform: translateY(-343px);
    width: 100%;
    background-color: #176bfc7e;
}

/* -------- FIN SLIDE --------- */
#home-clientes {
    background-image: url('../media/clientes.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 64vh;
}

#home-contacto p {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) /
        var(--unnamed-line-spacing-38) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0-12);
    color: var(--tipografia);
}

/* --------------------------- EMPRESA.HTML -----------------------------------*/

#empresa {
    background-image: url('../media/Fondo_Servicios.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

#empresa-historia {
    padding: 30px 0px;
}

#empresa-historia .texto-logos {
    padding: 0% 4.5% !important;
}

#empresa-historia .texto-logos p {
    /* width: 80%; */
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-28) / 34px
        Open Sans;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
    font-weight: 300;
    margin-bottom: 30px;
}

#empresa-historia .texto-logos span {
    font-weight: bold;
}

#empresa-historia .texto-logos img {
    width: 150px;
    margin: 10px 10px;
}

#empresa-clientes {
    background-image: url('../media/clientes.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 64vh;
}

#empresa-politica h2 {
    color: #176bfc;
    font-size: 40px;
    margin-bottom: 10px;
    letter-spacing: var(--unnamed-character-spacing-0-31);
}

#empresa-politica h4 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-24) /
        var(--unnamed-line-spacing-32) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
    margin-bottom: 10px;
}

#empresa-politica p {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) /
        var(--unnamed-line-spacing-32) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--tipografia);
}

#empresa-politica .texto-logos {
    padding: 0% 4.5% !important;
}

#empresa-cards {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#empresa-cards .container-box {
    box-shadow: 0px 2px 3px 1px rgba(127, 127, 127, 0.478);
    padding: 10px 15px;
    width: 24%;
    margin: 0px 4px;
    background-color: rgba(255, 255, 255, 0.679);
}

#empresa-cards .container-box p {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 22px / var(--unnamed-line-spacing-32)
        var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-176bfc);
}

/* --------------------------- SERVICIOS.HTML -----------------------------------*/

#servicios-header {
    background-image: url('../media/Fondo_Servicios.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#servicios {
    padding: 30px 0px;
    position: relative;
    top: -91px;
    z-index: 900;
}

#servicios h2 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 42px / var(--unnamed-line-spacing-52)
        var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-176bfc);
}

#servicios .description {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-28) /
        var(--unnamed-line-spacing-36) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0-14);
}

#servicios .container-box {
    /* border: 1px solid black; */
    box-shadow: 0px 2px 3px 1px rgba(127, 127, 127, 0.478);
    padding: 10px 15px;
    max-width: 32.5%;
    background-color: rgba(255, 255, 255, 0.679);
}

#servicios .arrow {
    border: 2px solid var(--unnamed-color-176bfc);
    padding: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#servicios .arrow i:hover {
    transform: rotate(90deg);
}

#servicios i {
    color: var(--unnamed-color-176bfc);
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

.article-servicios h3 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 22px/29px
        var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--negro-artug);
}

.article-servicios {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-servicios.medio {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--unnamed-color-176bfc-with-opacity);
}
/* --------------------------- FLOTA.HTML -----------------------------------*/

.descarga {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-28) /
        var(--unnamed-line-spacing-36) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0-14);
    color: var(--unnamed-color-176bfc);
    background-color: white;
    border: none;
    border-radius: 0px;
    padding: 8px 12px;
    font-weight: 400;
}

.descarga-secondary {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-28) /
        var(--unnamed-line-spacing-36) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0-14);
    color: var(--unnamed-color-ffffff);
    background-color: var(--unnamed-color-176bfc);
    border: none;
    border-radius: 0px;
    padding: 8px 12px;
    font-weight: 400;
}

.descarga i {
    margin: 0px 12px 0px 0px;
}

.descarga-secondary i {
    margin: 0px 12px 0px 0px;
}

#flota-cards {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .flota-description h3 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-28) /
        var(--unnamed-line-spacing-36) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0-14);
    color: var(--negro-artug);
}

/* --------------------------- CONTACTO.HTML -----------------------------------*/

#contacto {
    background-image: url('../media/fondo_contacto.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

#contacto .hero-contacto {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) /
        var(--unnamed-line-spacing-38) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0-12);
    color: var(--unnamed-color-ffffff);
    margin-bottom: 0px;
    margin-top: 10px;
}

/* ---------- MEDIA QUERIES --------- */

@media only screen and (max-width: 768px) {
    /* ---------- COMUNES A TODO EL SITIO ----------*/
    .titular-regular {
        font-size: 32px;
        line-height: 1.2;
    }
    .titular-bold {
        font-size: 45px;
    }

    .subtitulo {
        font-size: 18px;
    }

    .texto {
        font-size: 16px;
        margin-top: 5px;
    }
    /* ---NAVBAR -----*/
    .navbar {
        background-color: var(--unnamed-color-ffffff);
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
        border: none;
        outline: none;
    }

    .navbar-toggler i {
        font-size: 30px;
        color: white;
    }

    /* ----- FORM ----- */
    form {
        margin: 0% 0%;
    }

    form .form-control {
        font-size: 14px !important;
    }

    .boton-primario {
        font-size: 17px;
        width: 100px;
        padding: 0px;
    }

    /* ----- FOOTER ----- */

    footer h3 {
        font-size: 16px;
    }

    footer a {
        font-size: 14px;
    }

    footer p {
        font-size: 14px;
    }

    footer img {
        width: 140px;
        margin-bottom: 20px;
    }

    footer .copy {
        display: flex;
        flex-direction: column;

        align-items: flex-start;
    }

    footer .copy h5 {
        font-size: 14px;
    }

    footer .mapa-ubicacion {
        width: 50%;
        margin-bottom: 20px;
    }

    /* ---------- INDEX.HTML ----------*/
    #home {
        background-image: url('../media/fondo_home.svg');
        background-repeat: no-repeat;
        background-size: cover;
        /* min-height: 100vh; */
        background-position: 40% 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }

    .accordion {
        margin-top: 20px;
    }
}
